<div class="form-group iad-form-group" data-control-id="{{id}}">
	<div class="control-label">
		{{#ifStartsWith description 'popover:'}}
        <span class="iad-popover-control"><i class="hover-opaque fa fa-fw fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{substring description 8}}" data-title="{{name}}" data-container="body"></i> {{name}}</span>
        {{else}}
        <span class="iad-tooltip-control" data-toggle="tooltip" title="{{description}}">{{name}}</span>
        {{/ifStartsWith}}
	</div>
	<div>
		<div class="input-group">
			<input class="form-control input-sm iad-control-number iad-control-integer" type="hidden" value="{{value}}">
			<span class="btn-group">													
				<button type="button" class="btn btn-sm btn-default iad-control-integer-minus">-</button>
				<button type="button" class="btn btn-sm btn-default iad-control-integer-plus">+</button>
			</span>
		</div>
	</div>
</div>