<div class="control-label">
    {{#ifStartsWith description 'popover:'}}
    <span class="iad-popover-control"><i class="hover-opaque fa fa-fw fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{substring description 8}}" data-title="{{name}}" data-container="body"></i> {{name}}</span>
    {{else}}
    <span class="iad-tooltip-control" data-toggle="tooltip" title="{{description}}">{{name}}</span>
    {{/ifStartsWith}}
</div>
<div>
    <div class="input-group">
	  <input class="iad-control-range" type="range" value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}">
      <div class="input-group-addon iad-range-value">{{value}}</div>
    </div>
</div>