<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group iad-sortable">
	{{#if sortable}}<span class="iad-sort-handle"><i class="fa fa-fw fa-sort"></i></span>{{/if}}
	{{#each choices}}
		<button class="btn btn-sm btn-default iad-control-color-swatch" data-color-index="{{index}}" type="button" style="background-color:{{value}}">&nbsp;&nbsp;</button>
	{{/each}}
	{{#if removeable}}<button type="button" {{#if action}}data-action="{{action}}"{{/if}} class="close iad-control-btn" style="float:right">&times;</button>{{/if}}
</div>