<div class="control-label">
    {{#if description}}<i class="fa fa-fw fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{description}}" data-container="body"></i>&nbsp;{{/if}}{{name}}
</div>
<div>
    <div class="input-group">
	  <input class="iad-control-range" type="range" value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}">
      <div class="input-group-addon iad-range-value">{{value}}</div>
    </div>
</div>