<div class="form-group iad-form-group" data-control-id="{{id}}">
	<div {{#if align}}style="text-align:right"{{/if}}>
		<button type="button" {{#if action}}data-action="{{action}}"{{/if}} class="btn btn-sm btn-default iad-control-btn iad-tooltip-control" data-toggle="tooltip" {{#if description}}title="{{description}}"{{/if}}>{{#if icon}}<i class="{{icon}}"></i>&nbsp;&nbsp;{{/if}}{{name}}</button>
	</div>
</div>

