<div class="input-group">
  <input class="iad-control-range" type="range" value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}">
  <div class="input-group-addon iad-range-value">{{value}}</div>
</div>