<div class="panel-group" id="{{id}}-accordion">

	{{#forms}} 
        {{#if description}}
        <div class="panel-body">
            <div class="iad-form-description">{{{description}}}</div>
        </div>
        {{/if}}

		<div data-form-id="{{id}}" data-form-type="{{type}}" class="iad-form panel panel-default {{#if name}}panel-accordion{{/if}}">
			{{#if name}}
				<div style="cursor:pointer" class="panel-heading collapsed" data-toggle="collapse" data-parent="#{{../id}}-accordion" href="#collapse-{{../id}}-{{@index}}"><span>&nbsp;&nbsp;{{{name}}}</span></div>
			{{/if}}

    		<div id="collapse-{{../id}}-{{@index}}" class="panel-collapse collapse {{#if name}} {{else}}in{{/if}} iad-collapse">

				<div class="panel-body">
					<form class="draggableList" role="form" onsubmit="return false;">

						{{#controls}} 
							{{!-- Standard --}}

							{{#ifTextControl type}}{{> control.text}}{{/ifTextControl}}
							{{#ifEqualTo type 'textarea'}}{{> control.textarea}}{{/ifEqualTo}}
							{{#ifEqualTo type 'textarea-large'}}{{> control.textarealarge}}{{/ifEqualTo}}
							{{#ifEqualTo type 'label'}}{{> control.label}}{{/ifEqualTo}}
							{{#ifEqualTo type 'bold-label'}}{{> control.boldlabel}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer'}}{{> control.integer}}{{/ifEqualTo}}
							{{#ifEqualTo type 'float'}}{{> control.float}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer-counter'}}{{> control.integercounter}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer-select'}}{{> control.integerselect}}{{/ifEqualTo}}
							{{#ifEqualTo type 'float-counter'}}{{> control.floatcounter}}{{/ifEqualTo}}
							{{#ifEqualTo type 'boolean'}}{{> control.boolean}}{{/ifEqualTo}}
							{{#ifEqualTo type 'select'}}{{> control.select}}{{/ifEqualTo}}
							{{#ifEqualTo type 'colour'}}{{> control.colour}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text'}}{{> control.text}}{{/ifEqualTo}}
							{{#ifEqualTo type 'range'}}{{> control.range}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text-dropdown-replace'}}{{> control.textdropdownreplace}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text-dropdown-append'}}{{> control.textdropdownappend}}{{/ifEqualTo}}
							{{#ifEqualTo type 'textarea-dropdown-append'}}{{> control.textareadropdownappend}}{{/ifEqualTo}}
							{{#ifEqualTo type 'separator'}}{{> control.separator}}{{/ifEqualTo}}
							{{#ifEqualTo type 'groupcontrol'}}{{> control.groupcontrol}}{{/ifEqualTo}}
							{{#ifEqualTo type 'button'}}{{> control.button}}{{/ifEqualTo}}

                            {{#ifEqualTo type 'colour-dropdown'}}
                                <div class="form-group iad-form-group" data-control-id="{{id}}">
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-btn" style="vertical-align:bottom">
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">{{name}}&nbsp;<span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    {{#each choices}}
                                                        <li class="iad-dropdown-option iad-dropdown-menu-colorpalette">
                                                        <a href="#" data-value="{{this.value}}">
                                                            {{#each colors}}
                                                                <span style="background:{{this}};border: 1px solid #ccc;">&nbsp;&nbsp;</span>
                                                            {{/each}}
                                                        </a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/ifEqualTo}}

							{{!-- Map Palettes --}}
							{{#ifEqualTo type 'map-palettes-legend-editor'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div id="map-palettes-legend-editor">

									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-range-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-color-range iad-tooltip-control" data-toggle="tooltip" title="Add a new colour"><i class="fa fa-fw fa-plus"></i></button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-range'}}
								<div class="form-group iad-form-group" data-control-id="{{color-id}}">
									<div class="input-group">
										<span class="btn-group">
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
											{{#noOfColorsGreaterThanTwo ../../controls}}
												<button type="button" class="btn btn-sm btn-default iad-control-remove iad-control-remove-color-range iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
											{{/noOfColorsGreaterThanTwo}}
										</span>
									</div>
								</div>
							{{/ifEqualTo}}

                            {{#ifEqualTo type 'map-palettes-color-scheme-add'}}
                                <div class="form-group iad-form-group" data-control-id="{{id}}">
                                    <div style="text-align:right">
                                        <button data-control-id="{{id}}" type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-color-scheme iad-tooltip-control" data-toggle="tooltip" title="Add a new colour"><i class="fa fa-fw fa-plus"></i></button>
                                    </div>
                                </div>
                            {{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-scheme'}}
								<div class="form-group iad-form-group" data-control-id="{{color-id}}">
									<div class="input-group">
		      							<span class="input-group-btn">
											<button data-control-id="{{color-id}}" class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</span>
										<input data-control-id="{{for-id}}" class="form-control input-sm iad-control-text iad-tooltip-control" data-toggle="tooltip" title="Associate this colour with a legend label" type="text" value="{{for-value}}">
										{{#noOfColorsGreaterThanTwo ../../controls}}
			      							<span class="input-group-btn">
												<button data-control-id="{{id}}" type="button" class="btn btn-sm btn-default iad-control-remove iad-control-remove-color-scheme iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
											</span>
										{{/noOfColorsGreaterThanTwo}}
									</div>
								</div>
							{{/ifEqualTo}}

							{{!-- Menu Bar --}}

							{{#ifEqualTo type 'menu-bar'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm iad-sortable">
									
									<div class="form-group iad-form-group" data-control-id="{{id}}"">
										<div class="iad-sort-handle">
											<i class="fa fa-fw fa-sort"></i>
											<button type="button" class="close iad-control-remove iad-control-remove-menu-item iad-tooltip-control" style="float:right" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{label-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="{{label-description}}">Label</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{label-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{func-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="{{func-description}}">Function</span>
										</div>
										<div>
											<div class="input-group">
												<input class="form-control input-sm iad-control-text" type="text" value="{{func-value}}">
												<div class="input-group-btn">
													<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
													<ul class="dropdown-menu pull-right iad-dropdown-menu-replace">
														{{#each func-choices}}
															{{#if this.divider}}
																<li class="divider"></li>
															{{/if}}
															{{#if this.header}}
																<li class="dropdown-header">{{this.header}}</li>
															{{/if}}
															{{#if this.value}}
																<li class="iad-dropdown-option"><a href="#" data-value="{{this.value}}">{{this.label}}</a></li>
															{{/if}}
														{{/each}}
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'menu-bar-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-menu-item iad-tooltip-control" data-toggle="tooltip" title="Add a new item"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Item</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{!-- Pyramid --}}

							{{#ifEqualTo type 'pyramid-line-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-pyramid-line iad-tooltip-control" data-toggle="tooltip" title="Add a new line"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Line</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'pyramid-line'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm">
									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div style="text-align:right">
											<button type="button" class="close iad-control-remove iad-control-remove-pyramid-line iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{data-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Data to be associated with the target">Data</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each data-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../data-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{label-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Line label">Label</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{label-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{color-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Line colour">Colour</span>
										</div>
										<div>
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

							{{!-- Tables --}}

							{{#ifEqualTo type 'column'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm iad-sortable">

									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div class="iad-sort-handle">
											<i class="fa fa-fw fa-sort"></i>
											<button type="button" class="close iad-control-remove iad-control-remove-column iad-tooltip-control" style="float:right" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{alias-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column Title">Title</span>
										</div>
										<div class="input-group">
											<input class="form-control input-sm iad-control-text" type="text" value="{{alias-value}}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												<ul class="dropdown-menu pull-right iad-dropdown-menu-replace">
													{{#each alias-choices}}
														{{#if this.divider}}
															<li class="divider"></li>
														{{/if}}
														{{#if this.header}}
															<li class="dropdown-header">{{this.header}}</li>
														{{/if}}
														{{#if this.value}}
															<li class="iad-dropdown-option"><a href="#" data-value="{{this.value}}">{{this.label}}</a></li>
														{{/if}}
													{{/each}}
												</ul>		
											</span>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{data-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column data source">Source</span>
										</div>
										<div class="input-group">
											<input class="form-control input-sm iad-control-text" type="text" value="{{data-value}}">
											<div class="input-group-btn">
												<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												<ul class="dropdown-menu pull-right iad-dropdown-menu-replace">
													{{#each data-choices}}
														<li class="iad-dropdown-option"><a href="#" data-value="{{this.value}}">{{this.label}}</a></li>
													{{/each}}
												</ul>
											</div>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{width-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column width">Width</span>
										</div>
										<div class="input-group">
											<input class="form-control input-sm iad-control-number iad-control-integer" style="display:none" value="{{width-value}}">
											<span class="btn-group">																						
												<button type="button" class="btn btn-sm btn-default iad-control-float-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease column width">-</button>
												<button type="button" class="btn btn-sm btn-default iad-control-float-plus iad-tooltip-control" data-toggle="tooltip" title="Increase column width">+</button>
											</span>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'column-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-column iad-tooltip-control" data-toggle="tooltip" title="Add Column"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Column</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{!-- Area Profile --}}				
							{{#ifEqualTo type 'chart-column'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm iad-sortable">

									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div class="iad-sort-handle">
											<i class="fa fa-fw fa-sort"></i>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{alias-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column Title">Title</span>
										</div>
										<div class="input-group">
											<input class="form-control input-sm iad-control-text" type="text" value="{{alias-value}}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												<ul class="dropdown-menu pull-right iad-dropdown-menu-replace">
													{{#each alias-choices}}
														{{#if this.divider}}
															<li class="divider"></li>
														{{/if}}
														{{#if this.header}}
															<li class="dropdown-header">{{this.header}}</li>
														{{/if}}
														{{#if this.value}}
															<li class="iad-dropdown-option"><a href="#" data-value="{{this.value}}">{{this.label}}</a></li>
														{{/if}}
													{{/each}}
												</ul>		
											</span>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{width-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column width">Width</span>
										</div>
										<div class="input-group">
											<input class="form-control input-sm iad-control-number iad-control-integer" style="display:none" value="{{width-value}}">
											<span class="btn-group">																						
												<button type="button" class="btn btn-sm btn-default iad-control-float-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease column width">-</button>
												<button type="button" class="btn btn-sm btn-default iad-control-float-plus iad-tooltip-control" data-toggle="tooltip" title="Increase column width">+</button>
											</span>
										</div>
									</div>

									{{#if health-min-id}}

										<div class="well well-sm">
											<div class="form-group iad-form-group">
												<div class="iad-form-label"><b>Column Labels</b></div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{health-min-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The left label">Left label</span>
												</div>
												<div>
													<input class="form-control input-sm iad-control-text" type="text" value="{{health-min-value}}">
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{health-mid-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The centre label">Centre label</span>
												</div>
												<div>
													<input class="form-control input-sm iad-control-text" type="text" value="{{health-mid-value}}">
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{health-max-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The right label">Right label</span>
												</div>
												<div>
													<input class="form-control input-sm iad-control-text" type="text" value="{{health-max-value}}">
												</div>
											</div>
										</div>

										<div class="well well-sm">
											<div class="form-group iad-form-group">
												<div class="iad-form-label"><b>Area Symbol</b></div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{data-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The data source containing the values that define the position of the symbol.">Position Source</span>
												</div>
												<div>
													<select class="form-control input-sm iad-control-select">
														{{#each data-choices}}
															<option value="{{this.value}}" {{#ifEqualTo this.value ../data-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
														{{/each}}
													</select>
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{symbol-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The data source containing the values that define the symbol used to render the area symbol. Use the 'Symbols' section below to map values in the data source to a symbol.">Symbol Source</span>
												</div>
												<div>
													<select  class="form-control input-sm iad-control-select">
														{{#each symbol-choices}}
															<option value="{{this.value}}" {{#ifEqualTo this.value ../symbol-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
														{{/each}}
													</select>
												</div>
											</div>

											{{#if health-symbol-color-id}}
												<div class="form-group iad-form-group" data-control-id="{{health-symbol-color-id}}">
													<div class="control-label">
														<span class="iad-tooltip-control" data-toggle="tooltip" title="The colour of the symbol.">Colour</span>
													</div>
													<div>
														<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{health-symbol-color-value}}">&nbsp;&nbsp;</button> 
													</div>
												</div>
											{{/if}}
										</div>

										<div class="well well-sm">
											<div class="form-group iad-form-group" data-control-id="{{national-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="By default each chart is centred on the median value. You can override this by providing a data source. Use the 'Chart Column Targets' section below to add a central line based on the values in your data source.">Centre Value</span>
												</div>
												<div>
													<select class="form-control input-sm iad-control-select">
														{{#each national-choices}}
															<option value="{{this.value}}" {{#ifEqualTo this.value ../national-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
														{{/each}}
													</select>
												</div>
											</div>
										</div>		
									{{/if}}

									{{#if profile-min-id}}
										<div class="well well-sm">
											<div class="form-group iad-form-group">
												<div class="iad-form-label"><b>Column Values</b></div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{profile-min-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="{{profile-min-description}}">Min. Value</span>
												</div>
												<div>
													<div class="input-group">
														<input class="form-control input-sm iad-control-number iad-control-float" type="text" value="{{profile-min-value}}">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-default iad-control-integer-minus">-</button>
															<button type="button" class="btn btn-sm btn-default iad-control-integer-plus">+</button>
														</span>
													</div>											
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{profile-max-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="{{profile-max-description}}">Max. Value</span>
												</div>
												<div>
													<div class="input-group">
														<input class="form-control input-sm iad-control-number iad-control-float" type="text" value="{{profile-max-value}}">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-default iad-control-integer-minus">-</button>
															<button type="button" class="btn btn-sm btn-default iad-control-integer-plus">+</button>
														</span>
													</div>											
												</div>
											</div>
										</div>
									{{/if}}

									{{#if profile-color-id}}

										<div class="well well-sm">
											<div class="form-group iad-form-group">
												<div class="iad-form-label"><b>Bar</b></div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{profile-data-control-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="Data to be associated with the bar.">Data Source</span>
												</div>
												<div>
													<select class="form-control input-sm iad-control-select">
														{{#each profile-data-choices}}
															<option value="{{this.value}}" {{#ifEqualTo this.value ../profile-data-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
														{{/each}}
													</select>
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{profile-height-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The height of the bar.">Height</span>
												</div>
												<div>
													<div class="input-group">
														<input class="form-control input-sm iad-control-number iad-control-integer" type="hidden" value="{{profile-height-value}}">
														<div class="input-group-btn">
															<button type="button" class="btn btn-sm btn-default iad-control-integer-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease height">-</button>
															<button type="button" class="btn btn-sm btn-default iad-control-integer-plus iad-tooltip-control" data-toggle="tooltip" title="Increase height">+</button>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group iad-form-group" data-control-id="{{profile-color-id}}">
												<div class="control-label">
													<span class="iad-tooltip-control" data-toggle="tooltip" title="The colour of the bar. This is overridden if the 'Selected Features Legend' is included.">Colour</span>
												</div>
												<div>
													<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{profile-color-value}}">&nbsp;&nbsp;</button> 
												</div>
											</div>
										</div>
									{{/if}}

								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'symbol-column'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm iad-sortable">

									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div class="iad-sort-handle">
											<i class="fa fa-fw fa-sort"></i>
 											<button type="button" class="close iad-control-remove iad-control-remove-column iad-tooltip-control" style="float:right" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{alias-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column Title">Title</span>
										</div>
										<div>
											<div class="input-group">
												<input class="form-control input-sm iad-control-text" type="text" value="{{alias-value}}">
												<span class="input-group-btn">
													<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
													<ul class="dropdown-menu pull-right iad-dropdown-menu-replace">
														{{#each alias-choices}}
															{{#if this.divider}}
																<li class="divider"></li>
															{{/if}}
															{{#if this.header}}
																<li class="dropdown-header">{{this.header}}</li>
															{{/if}}
															{{#if this.value}}
																<li class="iad-dropdown-option"><a href="#" data-value="{{this.value}}">{{this.label}}</a></li>
															{{/if}}
														{{/each}}
													</ul>		
												</span>
											</div>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{data-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column data source">Data Source</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each data-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../data-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{symbol-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="A data source that will be rendered as a symbol. Use the 'Symbols' section below to map values in the data source to a symbol.">Symbol Source</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each symbol-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../symbol-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{width-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Column width">Width</span>
										</div>
										<div>
											<div class="input-group">
												<input class="form-control input-sm iad-control-number iad-control-integer" style="display:none" value="{{width-value}}">
												<span class="btn-group">																						
													<button type="button" class="btn btn-sm btn-default iad-control-float-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease column width">-</button>
													<button type="button" class="btn btn-sm btn-default iad-control-float-plus iad-tooltip-control" data-toggle="tooltip" title="Increase column width">+</button>
												</span>
											</div>
										</div>
									</div>

								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'target-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-target iad-tooltip-control" data-toggle="tooltip" title="Add a new target"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Target</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'symbol-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-symbol iad-tooltip-control" data-toggle="tooltip" title="Add a new symbol"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Symbol</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'break-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-break iad-tooltip-control" data-toggle="tooltip" title="Add a new break"><i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;New Break</button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'profile-symbol'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm">
									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div style="text-align:right">
											<button type="button" class="close iad-control-remove iad-control-remove-symbol iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{data-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="The data value to be associated with the symbol">Data Value</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{data-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{label-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Symbol label">Label</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{label-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{shape-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Symbol shape">Shape</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each shape-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../shape-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{size-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Symbol size">Size</span>
										</div>
										<div>
											<div class="input-group">
												<input class="form-control input-sm iad-control-number iad-control-integer" type="hidden" value="{{size-value}}">
												<span class="input-group-btn">													
													<button type="button" class="btn btn-sm btn-default iad-control-integer-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease size">-</button>
													<button type="button" class="btn btn-sm btn-default iad-control-integer-plus iad-tooltip-control" data-toggle="tooltip" title="Increase size">+</button>
												</span>
											</div>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{color-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Symbol colour">Colour</span>
										</div>
										<div>
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'profile-target'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm">

									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div style="text-align:right">
											<button type="button" class="close iad-control-remove iad-control-remove-target iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{data-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Data to be associated with the target">Data</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each data-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../data-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>
										
									<div class="form-group iad-form-group" data-control-id="{{label-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Target label">Label</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{label-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{shape-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Target shape">Shape</span>
										</div>
										<div>
											<select class="form-control input-sm iad-control-select">
												{{#each shape-choices}}
													<option value="{{this.value}}" {{#ifEqualTo this.value ../shape-value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{size-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Target size">Size</span>
										</div>
										<div>
											<div class="input-group">
												<input class="form-control input-sm iad-control-number iad-control-integer" type="hidden" value="{{size-value}}">
												<span class="input-group-btn">													
													<button type="button" class="btn btn-sm btn-default iad-control-integer-minus iad-tooltip-control" data-toggle="tooltip" title="Decrease size">-</button>
													<button type="button" class="btn btn-sm btn-default iad-control-integer-plus iad-tooltip-control" data-toggle="tooltip" title="Increase size">+</button>
												</span>
											</div>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{color-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Target colour">Colour</span>
										</div>
										<div>
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'profile-break'}}
								<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm">
									<div class="form-group iad-form-group" data-control-id="{{id}}">
										<div style="text-align:right">
											<button type="button" class="close iad-control-remove iad-control-remove-break iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{label-id}}"">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Break label">Label</span>
										</div>
										<div>
											<input class="form-control input-sm iad-control-text" type="text" value="{{label-value}}">
										</div>
									</div>

									<div class="form-group iad-form-group" data-control-id="{{color-id}}">
										<div class="control-label">
											<span class="iad-tooltip-control" data-toggle="tooltip" title="Break colour">Colour</span>
										</div>
										<div>
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</div>
									</div>
								</div>
							{{/ifEqualTo}}

						{{/controls}} 
					</form>
				</div>	
			</div>
		</div>
	{{/forms}} 

</div>