<div class="panel-group" id="{{id}}-accordion">

	{{#forms}} 
        {{#if description}}
        <div class="panel-body">
            <div class="iad-form-description">{{{description}}}</div>
        </div>
        {{/if}}

		<div data-form-id="{{id}}" data-form-type="{{type}}" class="iad-form panel panel-default {{#if name}}panel-accordion{{/if}}">
			{{#if name}}
				<div style="cursor:pointer" class="panel-heading collapsed" data-toggle="collapse" data-parent="#{{../id}}-accordion" href="#collapse-{{../id}}-{{@index}}"><span>&nbsp;&nbsp;{{{name}}}</span></div>
			{{/if}}

    		<div id="collapse-{{../id}}-{{@index}}" class="panel-collapse collapse {{#if name}} {{else}}in{{/if}} iad-collapse">

				<div class="panel-body">
					<form class="draggableList" role="form" onsubmit="return false;">

						{{#controls}} 

							{{#ifTextControl type}}{{> control.text}}{{/ifTextControl}}
							{{#ifEqualTo type 'textarea'}}{{> control.textarea}}{{/ifEqualTo}}
							{{#ifEqualTo type 'textarea-large'}}{{> control.textarealarge}}{{/ifEqualTo}}
							{{#ifEqualTo type 'label'}}{{> control.label}}{{/ifEqualTo}}
							{{#ifEqualTo type 'bold-label'}}{{> control.boldlabel}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer'}}{{> control.integer}}{{/ifEqualTo}}
							{{#ifEqualTo type 'float'}}{{> control.float}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer-counter'}}{{> control.integercounter}}{{/ifEqualTo}}
							{{#ifEqualTo type 'integer-select'}}{{> control.integerselect}}{{/ifEqualTo}}
							{{#ifEqualTo type 'float-counter'}}{{> control.floatcounter}}{{/ifEqualTo}}
							{{#ifEqualTo type 'boolean'}}{{> control.boolean}}{{/ifEqualTo}}
							{{#ifEqualTo type 'select'}}{{> control.select}}{{/ifEqualTo}}
							{{#ifEqualTo type 'colour'}}{{> control.colour}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text'}}{{> control.text}}{{/ifEqualTo}}
							{{#ifEqualTo type 'range'}}{{> control.range}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text-dropdown-replace'}}{{> control.textdropdownreplace}}{{/ifEqualTo}}
							{{#ifEqualTo type 'text-dropdown-append'}}{{> control.textdropdownappend}}{{/ifEqualTo}}
							{{#ifEqualTo type 'textarea-dropdown-append'}}{{> control.textareadropdownappend}}{{/ifEqualTo}}
							{{#ifEqualTo type 'separator'}}{{> control.separator}}{{/ifEqualTo}}
							{{#ifEqualTo type 'groupcontrol'}}{{> control.groupcontrol}}{{/ifEqualTo}}
							{{#ifEqualTo type 'button'}}{{> control.button}}{{/ifEqualTo}}

                            {{#ifEqualTo type 'colour-dropdown'}}
                                <div class="form-group iad-form-group" data-control-id="{{id}}">
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-btn" style="vertical-align:bottom">
                                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">{{name}}&nbsp;<span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    {{#each choices}}
                                                        <li class="iad-dropdown-option iad-dropdown-menu-colorpalette">
                                                        <a href="#" data-value="{{this.value}}">
                                                            {{#each colors}}
                                                                <span style="background:{{this}};border: 1px solid #ccc;">&nbsp;&nbsp;</span>
                                                            {{/each}}
                                                        </a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/ifEqualTo}}

							{{!-- Map Palettes --}}
							{{#ifEqualTo type 'map-palettes-legend-editor'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div id="map-palettes-legend-editor">

									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-range-add'}}
								<div class="form-group iad-form-group" data-control-id="{{id}}">
									<div style="text-align:right">
										<button type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-color-range iad-tooltip-control" data-toggle="tooltip" title="Add a new colour"><i class="fa fa-fw fa-plus"></i></button>
									</div>
								</div>
							{{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-range'}}
								<div class="form-group iad-form-group" data-control-id="{{color-id}}">
									<div class="input-group">
										<span class="btn-group">
											<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
											{{#noOfColorsGreaterThanTwo ../../controls}}
												<button type="button" class="btn btn-sm btn-default iad-control-remove iad-control-remove-color-range iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
											{{/noOfColorsGreaterThanTwo}}
										</span>
									</div>
								</div>
							{{/ifEqualTo}}

                            {{#ifEqualTo type 'map-palettes-color-scheme-add'}}
                                <div class="form-group iad-form-group" data-control-id="{{id}}">
                                    <div style="text-align:right">
                                        <button data-control-id="{{id}}" type="button" class="btn btn-sm btn-default iad-control-add iad-control-add-color-scheme iad-tooltip-control" data-toggle="tooltip" title="Add a new colour"><i class="fa fa-fw fa-plus"></i></button>
                                    </div>
                                </div>
                            {{/ifEqualTo}}

							{{#ifEqualTo type 'map-palettes-color-scheme'}}
								<div class="form-group iad-form-group" data-control-id="{{color-id}}">
									<div class="input-group">
		      							<span class="input-group-btn">
											<button data-control-id="{{color-id}}" class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{color-value}}">&nbsp;&nbsp;</button>
										</span>
										<input data-control-id="{{for-id}}" class="form-control input-sm iad-control-text iad-tooltip-control" data-toggle="tooltip" title="Associate this colour with a legend label" type="text" value="{{for-value}}">
										{{#noOfColorsGreaterThanTwo ../../controls}}
			      							<span class="input-group-btn">
												<button data-control-id="{{id}}" type="button" class="btn btn-sm btn-default iad-control-remove iad-control-remove-color-scheme iad-tooltip-control" data-toggle="tooltip" title="Remove">&times;</button>
											</span>
										{{/noOfColorsGreaterThanTwo}}
									</div>
								</div>
							{{/ifEqualTo}}

						{{/controls}} 
					</form>
				</div>	
			</div>
		</div>
	{{/forms}} 

</div>